DATABASE_URL=your_database_url

S3_ENPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=rir-media
S3_REGION=us-east-1

ALGORITHM=HS256
SECRET_KEY=your_secret_key
EXP_IN_MINS=120
ORIGINS=["http://localhost:8000","http://localhost:8080"]
METHODS=["GET","POST","PATCH","PUT","DELETE"]
HEADERS=["*"]
CORS_CREDS=True