DATABASE_URL=postgresql+psycopg://username:password@localhost/db-name

S3_ENPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=rir-media
S3_REGION=us-east-1

ALLOWED_MEDIA_TYPES=["image/jpeg", "image/png", "image/webp", "video/mp4", "video/webm"]

ACCESS_TOKEN_EXPIRY_IN_MINS=10
REFRESH_TOKEN_EXPIRY_IN_DAYS=7

ALGORITHM=HS256
SECRET_KEY=lvweavriwaEWVRwevqR3qVsdVQ$E%R$$W$CQS@%^!@^%$^@&^ygh882?Aae46a

ORIGINS=["https://www.google.com"]
METHODS=["GET","POST","PATCH","DELETE"]
HEADERS=["*"]
CORS_CREDS=True