# Environment variables
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db